body {
  font-family: $montserrat;
  @include mp-0;
}

.container {
  width: 75%;
  margin: 0 auto;
}

a {
  color: unset;
  text-decoration: none;
  @include mp-0;
}

ul {
  list-style: none;
  @include mp-0;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  @include mp-0;
}

.btn {
  @include btn(12px 29px);
}

.heading {
  font-family: $bebas;
  text-transform: uppercase;
}

input:focus {
  outline: none;
}

.disable {
  cursor: not-allowed !important;
}
a.logo img {
  width: 100px;
}
.banner {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  &-left {
    width: 40%;

    h1 {
      font-size: 6.0625rem;
      @include phn() {
        font-size: 4rem;
      }
    }
    p {
      line-height: 24px;
      margin: 26px 0 3rem;
    }
    .btn {
      @include flex(space-between);
      width: 100px;
    }
    @include tab() {
      width: 100%;
    }
  }
  &-right {
    min-height: 500px;
    &-form {
      background: white;
      color: #818181;
      padding: 25px;
      border-radius: 5px;
      .form-group {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .d-flex {
        @include flex(space-between);
        @include tab() {
          display: block;
          .form-item {
            margin-bottom: 1rem;
          }
        }
        input[type="date" i] {
          width: 200px;
          @include tab() {
            width: 100%;
          }
        }
      }
      label {
        display: block;
        text-transform: capitalize;
        margin-bottom: 0.4rem;
      }
      input[type="date" i],
      select {
        font-weight: bold;
        text-transform: capitalize;
        width: 417px;
        background: #f2f2f2;
        border: none;
        height: 40px;
        border-radius: 5px;
        padding: 0 0.7rem;
        box-sizing: border-box;
        font-size: 1rem;
        font-family: $montserrat;
        @include tab() {
          width: 100%;
        }
      }
      .btn {
        text-transform: capitalize;
        padding: 0.8rem;
        font-weight: 500;
        font-size: 1rem;
        display: block;
        text-align: center;
      }
    }
    .slider {
      @include flex(space-between);
      position: absolute;
      left: 0;
      margin-left: 50%;
      top: -2rem;
      &-active {
        border: 3px solid $primary-bg-btn;
        opacity: 1 !important;
      }
      &-none {
        display: none !important;
      }
      &-last {
        display: block !important;
      }
      &-single {
        height: 416px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 270px;
        border-radius: 20px;
        position: relative;
        margin-right: 2rem;
        h2 {
          font-size: 30px;
          position: absolute;
          bottom: 2rem;
          left: 1.5rem;
        }
        &:hover {
          border: 3px solid $primary-bg-btn;
        }
      }
      @include tab() {
        margin-left: 0;
        top: 24rem;
      }
      @include custom(320px) {
        top: 22rem;
      }
      @include custom(540px) {
        top: 26rem;
      }
      @include custom(348px) {
        top: 26rem;
      }
    }
    .trigger {
      @include flex(start);
      position: absolute;
      left: 50%;
      bottom: 3rem;
      @include tab() {
        left: 0;
      }
      div {
        width: 47px;
        height: 47px;
        background: white;
        border-radius: 50%;
        @include flex(center);
        cursor: pointer;
        &:hover {
          background: darken(white, 10%);
        }
      }
      .trigger-right {
        transform: rotate(180deg);
      }
    }
  }
  &-overly {
    height: 100vh;
    background: #000000a6;
    color: white;
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  .container {
    @include flex(space-between);
    align-items: flex-start;
    position: relative;
    margin-top: 15rem;
    padding-bottom: 3rem;
    @include tab() {
      display: block;
      margin-top: 10rem;
      padding-bottom: 10rem;
    }
    @include phn() {
      padding-bottom: 7rem;
    }
  }
}
